<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <title>Ремонт и Строительство</title>
    <meta name="description" content="">
<!--

Sprint Template

http://www.templatemo.com/tm-401-sprint

-->
    <meta name="viewport" content="width=device-width">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet">
    <link rel="icon" href="static/images/templatemo_logo.ico">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/normalize.min.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/animate.css">
    <link rel="stylesheet" href="static/css/templatemo_misc.css">
    <link rel="stylesheet" href="static/css/templatemo_style.css">

    <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>

</head>
<body>
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <div id="front">
        <div class="site-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <div id="templatemo_logo">
                            <h1><a href="#">Lviar</a></h1>
                        </div> <!-- /.logo -->
                    </div> <!-- /.col-md-4 -->
                    <div class="col-md-8 col-sm-6 col-xs-6">
                        <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a>
                        <div class="main-menu">
                            <ul>
                                <li><a href="#front">Главная</a></li>
                                <li><a href="#services">Портфолио</a></li>
                                <li><a href="#products">Услуги</a></li>
                                <li><a href="#contact">Контакты</a></li>
                            </ul>
                        </div> <!-- /.main-menu -->
                    </div> <!-- /.col-md-8 -->
                </div> <!-- /.row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="responsive">
                            <div class="main-menu">
                                <ul>
                                    <li><a href="#front">Главная</a></li>
                                    <li><a href="#services">Портфолио</a></li>
                                    <li><a href="#products">Услуги</a></li>
                                    <li><a href="#contact">Контакты</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /.container -->
        </div> <!-- /.site-header -->
    </div> <!-- /#front -->

    <div class="site-slider">
        <ul class="bxslider">
            <li>
                <img class="img-fluid"src="static/images/slider/slide1.jpg" alt="slider image 1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <div class="slider-caption">
                                <h2>Лучшее качество</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img class="img-fluid"src="static/images/slider/slide2.jpg" alt="slider image 2">
                <div class="container caption-wrapper">
                    <div class="slider-caption">
                        <h2>Кратчайшие сроки</h2>
                    </div>
                </div>
            </li>
            <li>
                <img class="img-fluid"src="static/images/slider/slide3.jpg" alt="slider image 3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <div class="slider-caption">
                                <h2>Многолетний опыт</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img class="img-fluid"src="static/images/slider/slide4.jpg" alt="slider image 4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <div class="slider-caption">
                                <h2>Уникальный дизайн</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img class="img-fluid"src="static/images/slider/slide5.jpg" alt="slider image 5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <div class="slider-caption">
                                <h2>Доступные цены</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul> <!-- /.bxslider -->
        <div class="bx-thumbnail-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="bx-pager">
                            <a data-slide-index="0" href=""><img class="img-fluid"src="static/images/slider/slide1.jpg" alt="image 1" /></a>
                            <a data-slide-index="1" href=""><img class="img-fluid"src="static/images/slider/slide2.jpg" alt="image 2" /></a>
                            <a data-slide-index="2" href=""><img class="img-fluid"src="static/images/slider/slide3.jpg" alt="image 3" /></a>
                            <a data-slide-index="3" href=""><img class="img-fluid"src="static/images/slider/slide4.jpg" alt="image 4" /></a>
                            <a data-slide-index="4" href=""><img class="img-fluid"src="static/images/slider/slide5.jpg" alt="image 5" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /.site-slider -->

    <div id="services" class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                        <span class="service-icon first"></span>
                        <h3>Проектировка</h3>
                        <p>Профессиональная разработка проекта дизайна интерьера.</p>
                    </div> <!-- /.service-item -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                        <span class="service-icon second"></span>
                        <h3>Доступные цены</h3>
                        <p>Гарантируем точную и оптимизированную смету.</p>
                    </div> <!-- /.service-item -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                        <span class="service-icon third"></span>
                        <h3>Быстро и качественно</h3>
                        <p>Точное соблюдение технического задания.</p>
                    </div> <!-- /.service-item -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                        <span class="service-icon fourth"></span>
                        <h3>Профессиональая работа</h3>
                        <p>Специалисты с многолетним стажем.</p>
                    </div> <!-- /.service-item -->
                </div> <!-- /.col-md-3 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#services -->

    <div id="product-promotion" class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="section-title">Портфолио</h1>
                </div> <!-- /.col-md-12 -->
            </div> <!-- /.row -->
            <div class="row">
                <div class="col-md-2 col-sm-3">
                        <div class="item-small">
                                <img class="img-fluid"src="static/images/promotion/promotion1.png" alt="Product 1">
                                <h4>Кухня</h4>
                                <a href="https://www.facebook.com/LviarServices/posts/1806388189440441s">Facebook</a>
                        </div> <!-- /.item-small -->
                </div> <!-- /.col-md-2 -->
                <div class="col-md-8 col-sm-6">
                    <div class="item-large">
                        <img class="img-fluid"src="static/images/promotion/promotion2.jpg" alt="Product 2">
                        <div class="item-large-content">
                            <div class="item-header">
                                <h2 class="pull-left">Строително-ремонтные работы</h2>
                                <div class="clearfix"></div>
                            </div> <!-- /.item-header -->
                            <p>О наших надежности и высоком профессионализме свидетельствуют благодарные отзывы наших клиентов. Опытные квалифицированные строители качественно и быстро проведут капитальный или коcметический ремонт квaртиры или офиcа. Мы ведeм поcтоянный контрoль качеcтва на вcех этапах работ.
                              При провeдении ремонтa используютcя только проверенныe и безопаcные материалы, поэтому мы мoжем гарантировать: отличный результат сохранится надолго.
                            <b>Больше про строително-ремонтные работы на нашей странице в <a href="https://www.facebook.com/LviarServices/posts/1834699703275956">Facebook.</a></b></p>
                        </div> <!-- /.item-large-content -->
                    </div> <!-- /.item-large -->
                </div> <!-- /.col-md-8 -->
                <div class="col-md-2 col-sm-3">
                        <div class="item-small">
                                <img class="img-fluid"src="static/images/promotion/promotion3.png" alt="Product 3">
                                <h4>Ванная</h4>
                                <a href="https://www.facebook.com/LviarServices/posts/1806392429440017">Facebook</a>
                        </div> <!-- /.item-small -->
                </div> <!-- /.col-md-2 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#product-promotion -->

    <div id="products" class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="section-title">Услуги</h1>
                </div> <!-- /.col-md-12 -->
            </div> <!-- /.row -->
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="product-item">
                        <div class="item-thumb">
                            <div class="overlay">
                                <div class="overlay-inner">
                                    <a href="#nogo" class="view-detail">Add to Cart</a>
                                </div>
                            </div> <!-- /.overlay -->
                            <img class="img-fluid" src="static/images/products/product1.jpg" alt="">
                        </div> <!-- /.item-thumb -->
                        <h3>Выезд на объект</h3>
                        <!-- <span><em class="price">от 150 грн</em></span> -->
                    </div> <!-- /.product-item -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="product-item">
                        <div class="item-thumb">
                            <div class="overlay">
                                <div class="overlay-inner">
                                    <a href="#nogo" class="view-detail">Add to Cart</a>
                                </div>
                            </div> <!-- /.overlay -->
                            <img class="img-fluid" src="static/images/products/product2.jpg" alt="">
                        </div> <!-- /.item-thumb -->
                        <h3>Замеры на обьекте</h3>
                        <!-- <span><em class="price">от 450 грн</em></span> -->
                    </div> <!-- /.product-item -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="product-item">
                        <div class="item-thumb">
                            <div class="overlay">
                                <div class="overlay-inner">
                                    <a href="#nogo" class="view-detail">Add to Cart</a>
                                </div>
                            </div> <!-- /.overlay -->
                            <img class="img-fluid" src="static/images/products/product3.jpg" alt="">
                        </div> <!-- /.item-thumb -->
                        <h3>Проектная разработка</h3>
                        <!-- <span><em class="price">(Оценка после выезда)</em></span> -->
                    </div> <!-- /.product-item -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="product-item">
                        <div class="item-thumb">
                            <div class="overlay">
                                <div class="overlay-inner">
                                    <a href="#nogo" class="view-detail">Add to Cart</a>
                                </div>
                            </div> <!-- /.overlay -->
                            <img class="img-fluid" src="static/images/products/product4.jpg" alt="">
                        </div> <!-- /.item-thumb -->
                        <h3>Демонтаж материалов</h3>
                        <!-- <span><em class="price">Расчет стоимости</em></span> -->
                    </div> <!-- /.product-item -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="product-item">
                        <div class="item-thumb">
                            <div class="overlay">
                                <div class="overlay-inner">
                                    <a href="#nogo" class="view-detail">Add to Cart</a>
                                </div>
                            </div> <!-- /.overlay -->
                            <img class="img-fluid" src="static/images/products/product5.jpg" alt="">
                        </div> <!-- /.item-thumb -->
                        <h3>Устройство наливных полов</h3>
                        <!-- <span><em class="price">Расчет стоимости</em></span> -->
                    </div> <!-- /.product-item -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="product-item">
                        <div class="item-thumb">
                            <div class="overlay">
                                <div class="overlay-inner">
                                    <a href="#nogo" class="view-detail">Add to Cart</a>
                                </div>
                            </div> <!-- /.overlay -->
                            <img class="img-fluid" src="static/images/products/product6.jpg" alt="">
                        </div> <!-- /.item-thumb -->
                        <h3>Сантехнические работы</h3>
                        <!-- <span> <em class="price">Расчет стоимости</em></span> -->
                    </div> <!-- /.product-item -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="product-item">
                        <div class="item-thumb">
                            <div class="overlay">
                                <div class="overlay-inner">
                                    <a href="#nogo" class="view-detail">Add to Cart</a>
                                </div>
                            </div> <!-- /.overlay -->
                            <img class="img-fluid" src="static/images/products/product7.jpg" alt="">
                        </div> <!-- /.item-thumb -->
                        <h3>Электромонтажные работы</h3>
                        <!-- <span><em class="price">Расчет стоимости</em></span> -->
                    </div> <!-- /.product-item -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="product-item">
                        <div class="item-thumb">
                            <div class="overlay">
                                <div class="overlay-inner">
                                    <a href="#nogo" class="view-detail">Add to Cart</a>
                                </div>
                            </div> <!-- /.overlay -->
                            <img class="img-fluid" src="static/images/products/product8.jpg" alt="">
                        </div> <!-- /.item-thumb -->
                        <h3>ГКЛ перегородки и потолки</h3>
                        <!-- <span><em class="price">Расчет стоимости</em></span> -->
                    </div> <!-- /.product-item -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="product-item">
                        <div class="item-thumb">
                            <div class="overlay">
                                <div class="overlay-inner">
                                    <a href="#nogo" class="view-detail">Add to Cart</a>
                                </div>
                            </div> <!-- /.overlay -->
                            <img class="img-fluid" src="static/images/products/product9.jpg" alt="">
                        </div> <!-- /.item-thumb -->
                        <h3>Укладка плитки</h3>
                        <!-- <span><em class="price">Расчет стоимости</em></span> -->
                    </div> <!-- /.product-item -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="product-item">
                        <div class="item-thumb">
                            <div class="overlay">
                                <div class="overlay-inner">
                                    <a href="#nogo" class="view-detail">Add to Cart</a>
                                </div>
                            </div> <!-- /.overlay -->
                            <img class="img-fluid" src="static/images/products/product10.jpg" alt="">
                        </div> <!-- /.item-thumb -->
                        <h3>Малярные работы</h3>
                        <!-- <span><em class="price">Расчет стоимости</em></span> -->
                    </div> <!-- /.product-item -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="product-item">
                        <div class="item-thumb">
                            <div class="overlay">
                                <div class="overlay-inner">
                                    <a href="#nogo" class="view-detail">Add to Cart</a>
                                </div>
                            </div> <!-- /.overlay -->
                            <img class="img-fluid" src="static/images/products/product11.jpg" alt="">
                        </div> <!-- /.item-thumb -->
                        <h3>Напольные покрытия</h3>
                        <!-- <span><em class="price">Расчет стоимости</em></span> -->
                    </div> <!-- /.product-item -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="product-item">
                        <div class="item-thumb">
                            <div class="overlay">
                                <div class="overlay-inner">
                                    <a href="#nogo" class="view-detail">Add to Cart</a>
                                </div>
                            </div> <!-- /.overlay -->
                            <img class="img-fluid" src="static/images/products/product12.jpg" alt="">
                        </div> <!-- /.item-thumb -->
                        <h3>Монтаж дверных блоков</h3>
                        <!-- <span><em class="price">Расчет стоимости</em></span> -->
                    </div> <!-- /.product-item -->
                </div> <!-- /.col-md-3 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#products -->

    <div id="contact" class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="section-title">Контакты</h1>
                </div> <!-- /.col-md-12 -->
            </div> <!-- /.row -->
            <div class="row">
                <div class="col-md-offset-2 col-md-8 text-center bigger-text">
                    <p>Заполните форму и мы свяжемся с вами.</p>
                </div>
                <div class="col-md-6 col-sm-6">
                  <iframe id ='map'src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d325518.68780316407!2d30.252511957059642!3d50.4016990487754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf4ee15a4505%3A0x764931d2170146fe!2z0JrQuNGX0LIsIDAyMDAw!5e0!3m2!1suk!2sua!4v1499764414944" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div> <!-- /.col-md-6 -->
                <div class="col-md-6 col-sm-6">

                    <div class="row contact-form">

                        <fieldset class="col-md-6 col-sm-6">
                            <input id="name" type="text" name="name" placeholder="Имя">
                        </fieldset>
                        <fieldset class="col-md-6 col-sm-6">
                            <input type="email" name="email" id="email" placeholder="Email">
                        </fieldset>
                        <fieldset class="col-md-12">
                            <input type="text" name="subject" id="subject" placeholder="Тема">
                        </fieldset>
                        <fieldset class="col-md-12">
                            <textarea name="comments" id="comments" placeholder="Сообщение"></textarea>
                        </fieldset>
                        <fieldset class="col-md-12">
                            <input type="submit" name="send" value="Отправить" id="submit" class="button" onclick = 'location.reload()'>
                        </fieldset>

                    </div> <!-- /.contact-form -->

                </div> <!-- /.col-md-6 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#products -->

    <div class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6">
                    <span id="copyright">Все права защищены &copy; 2018 <a href="#">Lviar</a></span>
                </div> <!-- /.col-md-6 -->
                <div class="col-md-4 col-sm-6" id="footer-left">
                    <div><p>Телефон: +38(050)-462-54-07</p></div>
                    <div style="padding-left:25px"><a href="https://www.facebook.com/LviarServices"><img class="img-fluid"src="static/images/facebook-logo-button (1).svg" width="35" height="35"></a></div>
                </div> <!-- /.col-md-6 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.site-footer -->


    <script src="static/js/vendor/jquery-1.10.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
    <script src="static/js/jquery.easing-1.3.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>
    <!-- templatemo 401 sprint -->
</body>
</html>
